* {
    margin: 0;
    padding: 0;
}

/*
    Test styling
    */
html, body {
    background-color: #ddd;
}

.ed-container {
    width: 650px;
    height: 500px;
}


/*
    Overlay styling
    */
.ed-overlay {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: absolute;
    background-color: rgba(0, 0, 0, .9);
}

.ed-overlay > button.close {
    color: #fff;
    text-shadow: none;
    opacity: .8;
    filter: alpha(opacity=80);
    margin: 5px 8px;
    outline: none;
}

.ed-overlay.active {
    display: block;
}

.ed-overlay-title {
    color: #eee;
    margin: 20px;
    font-size: 22px;
}

.ed-overlay-content {
    color: #eee;
    font-size: 14px;
    margin: 0 20px;
    font-weight: lighter;
}

.ed-overlay-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 20px;
}


/*
    Container styling
    */
.ed-container {
    position: relative;
    display: table;
    font-size: 13px;
    font-family: sans-serif;
    background-color: #fff;
    border: 1px solid #ccc;
}


/*
    Header styling
    */
.ed-header {
    height: 30px;
    width: 100%;
    display: table-row;
}

.ed-header .ed-header-inner {
    height: 100%;
    background-color: #f9f9f9;
    border-bottom: 1px solid #eee;
}

.ed-header .ed-header-inner:after {
    display: block;
    float: none;
    clear: both;
    content: "";
}

.ed-header .ed-icon {
    display: block;
    float: left;
    color: #222;
    font-size: 14px;
    padding: 7px 12px;
    transition: all .1s;
}

.ed-header .ed-select {
    display: block;
    float: left;
    color: #222;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 13px;
    border-top: 0;
    border-bottom: 0;
    position: relative;
}

.ed-header .ed-select > .fa {
    margin-right: 6px;
}

.ed-header .ed-select > .fa:before {
    line-height: 3px;
}

.ed-header .ed-select > span {
    font-size: 12px;
}

.ed-header .ed-icon:hover,
.ed-header .ed-select:hover {
    background-color: #eee;
}

.ed-header .ed-select-inner {
    top: 100%;
    left: 0;
    width: 100%;
    position: absolute;
    border: 1px solid #ddd;
    border-top: 0;
    display: none;
    padding-top: 1px;
}

.ed-select-inner:last-child {
    border-bottom: 0;   
}

.ed-select-inner .ed-select-option {
    font-size: 12px;
    padding: 3px 6px;
    border-bottom: 1px solid #ddd;
}

.ed-select-inner .ed-select-option:hover {
    background-color: #f9f9f9;
}


/*
    Content styling
    */
.ed-container .ed-content {
    display: table-row;
    width: 100%;
}

.ed-container .ed-content-frame {
    border: 0;
    width: 100%;
    height: 100%;
}


/*
    Form styling
    */
.ed-input {
    width: 100%;
    border: 1px solid #ddd;
    padding: 6px 10px;
    outline: none;
    color: #111;
}

.ed-input:focus {
    box-shadow: 0 0 13px 1px rgba(255, 255, 255, 0.4);
}